<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHESS</title>
    <link rel="stylesheet" href="../static/styles/chessstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body onload="startTimer()">
    <div class="chess-container">
        <div class="first-part">
            <div class="player">
                <div class="avatar">
                    <img src="../static/images/download.png">
                </div>
                <p>you</p>
            </div>
            <div class="wrapper">
                {% for square in squares %}
                {% if square[0] == 'a1' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="wR1" src="../static/images/wikipedia/wR.png" draggable="true"></div>
                {% elif square[0] == 'b1' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="wN1" src="../static/images/wikipedia/wN.png" draggable="true"></div>
                {% elif square[0] == 'c1' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="wB1" src="../static/images/wikipedia/wB.png" draggable="true"></div>
                {% elif square[0] == 'd1' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="wQ" src="../static/images/wikipedia/wQ.png" draggable="true"></div>
                {% elif square[0] == 'e1' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="wK" src="../static/images/wikipedia/wK.png" draggable="true"></div>
                {% elif square[0] == 'f1' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="wB2" src="../static/images/wikipedia/wB.png" draggable="true"></div>
                {% elif square[0] == 'g1' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="wN2" src="../static/images/wikipedia/wN.png" draggable="true"></div>
                {% elif square[0] == 'h1' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="wR2" src="../static/images/wikipedia/wR.png" draggable="true"></div>
                {% elif square[0] == 'a8' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="bR1" src="../static/images/wikipedia/bR.png" draggable="true"></div>
                {% elif square[0] == 'b8' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="bN1" src="../static/images/wikipedia/bN.png" draggable="true"></div>
                {% elif square[0] == 'c8' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="bB1" src="../static/images/wikipedia/bB.png" draggable="true"></div>
                {% elif square[0] == 'd8' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="bQ" src="../static/images/wikipedia/bQ.png" draggable="true"></div>
                {% elif square[0] == 'e8' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="bK" src="../static/images/wikipedia/bK.png" draggable="true"></div>
                {% elif square[0] == 'f8' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="bB2" src="../static/images/wikipedia/bB.png" draggable="true"></div>
                {% elif square[0] == 'g8' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="bN2" src="../static/images/wikipedia/bN.png" draggable="true"></div>
                {% elif square[0] == 'h8' %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="bR2" src="../static/images/wikipedia/bR.png" draggable="true"></div>
                {% elif square[0] in pwhite %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="{{loop.cycle('wp1', 'wp2', 'wp3', 'wp4', 'wp5', 'wp6', 'wp7', 'wp8')}}" src="../static/images/wikipedia/wP.png" draggable="true"></div>
                {% elif square[0] in pblack %}
                <div id="{{square[0]}}" class="{{square[1]}} box"><img ondragstart="dragStart(event)" id="{{loop.cycle('bp1', 'bp2', 'bp3', 'bp4', 'bp5', 'bp6', 'bp7', 'bp8')}}" src="../static/images/wikipedia/bP.png" draggable="true"></div>
                {% else %}
                <div id="{{square[0]}}" class="{{square[1]}} box"></div>
                {%endif%}
                {% endfor %}
            </div>
            
            <div class="opponent">
                <div class="avatar">
                    <img src="../static/images/download.png">    
                </div>
                <p>komodo</p>   
            </div>
        </div>
        
        <div class="second-part">
            <h1 class="clock">00:00</h1>
            <div class="san-move">
            </div>
            <div>
                <div class="chess-button">
                    <button type="button" id="reset">reset</button>
                    <button type="button" id="undo">undo</button>
                    <button type="button" id="pause">pause</button>
                    <button type="button" id="play">play</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    let default_fen = 'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1';
    const fen_list = [default_fen];
    const move_list = [];
    let start = null;
    let timer = null;
    let diff = null;

    function dragStart (e) {
        e.dataTransfer.setData('text/plain', e.target.id);
        setTimeout(() => {
            e.target.classList.add('hide');
        }, 0);
    }

    boxes = document.querySelectorAll('.box')


    boxes.forEach(element => {
        element.addEventListener('dragenter', dragEnter);
        element.addEventListener('dragover', dragOver);
        element.addEventListener('dragleave', dragLeave);
        element.addEventListener('drop', drop)
    });

    function dragEnter (e) {
        e.preventDefault();
        if (e.target.tagName === 'IMG') {
            let parent = e.target.parentElement;
            parent.classList.add('drag-over');
        }
        else {
            e.target.classList.add('drag-over');
        }
    }

    function dragOver (e) {
        e.preventDefault();
        if (e.target.tagName === 'IMG') {
            let parent = e.target.parentElement;
            parent.classList.add('drag-over');
        }
        else {
            e.target.classList.add('drag-over');
        }
        
    }

    function dragLeave (e) {
        if (e.target.tagName === 'IMG') {
            let parent = e.target.parentElement;
            parent.classList.remove('drag-over');
        }
        else {
            e.target.classList.remove('drag-over');
        }
        
    }

    function drop (e) {
        // e.preventDefault();

        const id = e.dataTransfer.getData('text/plain');
        if (e.target.tagName === 'IMG') {
            e.target.parentElement.classList.remove('drag-over')
            new_id = e.target.parentElement.id;
        }
        else {
            e.target.classList.remove('drag-over');
            new_id = e.target.id;
        }
        
        const draggable = document.getElementById(id);
        const parent = draggable.parentElement;
        console.log(parent.id+new_id);

        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:5000/play',
            data: JSON.stringify({'move': parent.id+new_id, 'fen': fen_list[fen_list.length - 1]}),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                console.log(data['answer']);
                if (data['answer'] === 'true') {
                    if (parent.id+new_id === 'e1h1' && data['san'] === 'O-O') {
                        new_id = 'g1';
                    }
                    else if (parent.id+new_id === 'e1a1' && data['san'] === 'O-O-O') {
                        new_id = 'c1'
                    }
                    const to = document.getElementById(new_id);
                    
                    if (to.childNodes.length > 0) {to.firstChild.classList.add('hide')}
                    to.insertBefore(draggable, to.firstChild);

                    // handling the castling move in chess
                    if (parent.id+new_id === 'e1g1' && data['san'] === 'O-O') {
                        console.log(data['san']);
                        let h1 = document.getElementById('h1');
                        let f1 = document.getElementById('f1');
                        f1.insertBefore(h1.firstChild, f1.firstChild);
                        move_list.push(parent.id+new_id+'h1f1');
                    } else if (parent.id+new_id === 'e1c1' && data['san'] === 'O-O-O') {
                        console.log(data['san']);
                        let a1 = document.getElementById('a1');
                        let d1 = document.getElementById('d1');
                        d1.insertBefore(a1.firstChild, d1.firstChild);
                        move_list.push(parent.id+new_id+'a1d1');
                    } else {
                        move_list.push(parent.id+new_id);
                    }
                    $('.san-move').append(`${data['san']} `);
                    
                    console.log(move_list);
                    fen_list.push(data['fen']);
                    console.log(fen_list);

                    computerPlayer(data['fen']);
                }
                
            }
        });
        draggable.classList.remove('hide');
    }

    function undo () {
        if (move_list.length >= 1) {
            const str = move_list[move_list.length - 1];
            // const drop_string = str.substring(0, 2);
            // const drag_string = str.substring(2, 4);
            if (str.length === 8) {
                const castling1 = document.getElementById(str.substring(4, 6));
                const castling2 = document.getElementById(str.substring(6, 8));
                castling1.insertBefore(castling2.firstChild, castling1.firstChild);
                if (castling2.childNodes.length > 0) {
                    castling2.firstChild.classList.remove('hide');
                }
            }
            const element1 = document.getElementById(str.substring(0, 2));
            const element2 = document.getElementById(str.substring(2, 4));
            element1.insertBefore(element2.firstChild, element1.firstChild);
            if (element2.childNodes.length > 0) {
                element2.firstChild.classList.remove('hide');
            }
            move_list.pop();
            fen_list.pop();
            console.log(fen_list);   
        }
    }

    function reset () {
        const l = move_list.length;
        for (let i = 1; i <= l; i++) {
            undo();
        }
        startTimer();
    }

    function computerPlayer (fen) {
        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:5000/computer',
            data: JSON.stringify({'fen': fen}),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                console.log(data['move']);
                const str = data['move'];
                // const drop_string = str.substring(0, 2);
                // const drag_string = str.substring(2, 4);

                const element1 = document.getElementById(str.substring(0, 2));
                const element2 = document.getElementById(str.substring(2, 4));

                if (element2.childNodes.length === 0) {
                    element2.appendChild(element1.firstChild);
                }
                else {
                    element2.firstChild.classList.add('hide')
                    element2.insertBefore(element1.firstChild, element2.firstChild)
                }
                if (str === 'e8g8' && data['san'] === 'O-O') {
                    console.log(data['san']);
                    let h8 = document.getElementById('h8');
                    let f8 = document.getElementById('f8');
                    f8.insertBefore(h8.firstChild, f8.firstChild);
                    move_list.push(str+'h8f8');
                } else if (str === 'e8c8' && data['san'] === 'O-O-O') {
                    console.log(data['san']);
                    let a8 = document.getElementById('a8');
                    let d8 = document.getElementById('d8');
                    d8.insertBefore(a8.firstChild, d8.firstChild);
                    move_list.push(str+'a8d8');
                } else {
                    move_list.push(str);
                }

                $('.san-move').append(`${data['san']} `);
                console.log(move_list);
                fen_list.push(data['fen']);

            }
        });
    }

    function startTimer () {
        console.log('started');
        const date =  new Date();
        start = date.getTime();
        showTimer();
    }

    function endTimer() {
        if (timer) {
            clearInterval(timer);
        }
    }

    function showTimer () {
        console.log('show time');
        let hr, min, sec;
        timer = setInterval(() => {
            // difference between present time and start time
            diff = new Date().getTime() - start;

            // hour derived from the difference
            hr = parseInt(diff/1000/60/60);
            hr = hr < 10 ? '0' + hr : hr;

            // minute derived from the difference
            min = parseInt(diff/1000/60);
            if (min > 59) {min %= 60};
            min = min < 10 ? '0' + min : min;
            
            // second derived from the difference
            sec = parseInt(diff/1000);
            if (sec > 59) {sec %= 60};
            sec = sec < 10 ? '0' + sec : sec;
            
            $('.clock').text(`${hr}:${min}:${sec}`);
        }, 10);
    }

    $('#pause').on('click', function () {
        console.log(diff);
        // pause the time
        endTimer();
        console.log(timer);
        $(this).prop('disabled', true);
        $('#play').prop('disabled', false);
    });

    $('#play').on('click', function () {
        console.log(start);
        // calculates the time when game was paused
        start = start + (new Date().getTime() - (diff + start));
        console.log(start)
        showTimer();
        $(this).prop('disabled', true);
        $('#pause').prop('disabled', false); 
    });

    $('#undo').on('click', function () {
        // undos both the player and computer move
        undo();
        undo();
    });

    $('#reset').on('click', function () {
        // resets the entire game
        reset();
        endTimer();
        showTimer();
        $('#pause').prop('disabled', false);
        $('#play').prop('disabled', true);
    });
</script>