html{
    height: 100vh;
    padding: 0;
}

@font-face {
    font-family: myfont;
    src: url(../styles/Befolk-Font/Befolk\ Script.ttf);
}

@font-face {
    font-family: myfont1;
    src: url(../styles/nimbus/l/l.ttf);
}

@font-face{
    font-family: myFont4;
    src: url(Quesha.ttf);
}

body { 
    margin: 0;
    height: 100%;
    background-color: rgb(33, 30, 30);
    color: burlywood;
    font-family:myfont1;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 3.4em);
    grid-auto-rows: 3.4em;
    border: 2em ridge transparent;
    border-image: url('../images/wood2.jpeg') 50 repeat;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.231);
}

.even {
    background-image: url('../images/images.jpeg');
    background-repeat: repeat;
}
.odd {
    background-image: url('../images/wooden-laminate-sheet.jpg');
    background-repeat: repeat;
}

img {
    width: 3.4em;
    height: 3.4em;
}

.hide {
    display: none;
}

.drag-over {
    border: solid 3px  rgb(29, 27, 27);
}

.chess-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.first-part {
    display: flex;
    justify-content: center;
    margin-right: 2em;
}

.second-part {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    margin-left: 2em;
}

.clock {
    font-size: 3em;
    font-weight: bold;
    color: rgba(222, 184, 135, 0.42);
}

.opponent {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
}

.player {
    height: 34em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
    align-items: center;
}



.avatar img {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 50%;
}

.opponent p, .player p {
    padding: 0;
    font-size: 15px;
    text-align: center;
    color: burlywood;
}

.san-move {
    box-sizing: border-box;
    width: 150px;
    max-width: 150px;
    height: 150px;
    overflow-y: scroll;
    color: burlywood;
    font-size: 15px;
    border: 1px solid burlywood;
    border-radius: 10%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 0.2fr;
}

.chess-button
{
    border: 2px solid burlywood;
    border-radius: 5px;
}

.chess-button button {
    padding: 0;
    background-color: transparent;
    color: burlywood;
    width: 5em;
    height: 3em;
}

.game {
    text-align: center;
}

.danger {
    box-shadow: inset 0 0 60px rgba(255, 0, 0);
}

.glow {
    box-shadow: inset 0 0 120px rgb(90, 58, 45);
}

.check-mate {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
    color: burlywood;
    z-index: 0;
}
.mate-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 400px;
    z-index: 1000;
}

.mate-message .btn-outline-primary {
    margin-top: 20px;
    z-index: 5000;
}

.mate-message  h1{
    color: red;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:disabled {
    border-color: burlywood;
    color: burlywood;
}

.btn-outline-primary:hover {
    background-color: transparent;
}

@media (max-width: 858px) {
    .wrapper {
            grid-template-columns: repeat(8, 1fr);
            grid-auto-rows: 2em;
            border-width: 0.5em;
            box-shadow: 5px 2.5px 2.5px rgba(0, 0, 0, 0.231);
    }
    img {
        width: 15px;
        height: 15px;
    }
    .clock {
        font-size: 1em;
    }
    .first-part {
        margin-right: 5px; 
    }
    .second-part {
        margin-left: 5px;
    }
    .opponent {
        height: 45%;
        margin-right: 5px;
    }
    .player {
        height: 20em;
        margin-right: 5px;
    }
    .san-move {
        width: 75px;
        max-width: 75px;
        height: 75px;
        font-size: 8px;
        border-radius: 5%;
        padding: 10px;
        grid-auto-rows: 0.1fr;
    }
   
}

